 # Ignore RStudio project files
.Rproj.user/
.Rhistory
.Rprofile
*.RData

# Ignore bookdown output and cache
_book/
_bookdown_files/
_cache/
_output.yml
_bookdown.yml

# Book styling and assets
css/
png/

# Bibliography files
*.bib

# Ignore raw source files if you want them private
*.Rmd
*.Rproj

# Ignore large or temporary files
*.Rds
*.Rda
*.csv
*.xlsx
*.txt
*.png
*.jpg
*.jpeg

# Ignore custom folders not meant for version control
old/
SLIDES/
my_dir/

