# Ignore source and working files not needed in the deployed site

# R/RStudio
.Rproj.user/
.Rhistory
.RData
.Rprofile
*.Rproj

# Bookdown build & project files
_bookdown_files/
*.Rmd
*.R
*.rds
*.bib
*.pdf
*.csv
*.xlsx
*.txt
*.docx

# Source figures, working folders
*.png
*.jpg
*.jpeg
*.eps
*.svg
figure-html/
old/
data/
workingniceversion/
SLIDES/
my_dir/

